a,
a:active,
a:hover,
a:link,
a:visited,
u {
    font-size: inherit;
    text-decoration: none
}

a>img,
br,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
img,
ol,
p,
small,
ul {
    display: block;
    width: 100%
}

body,
html {
    min-height: 100%;
    overflow-x: hidden
}

h2,
h3 {
    line-height: 1.382
}

.golden+.lesser,
.lesser+.golden {
    margin-left: 4.236%;
    vertical-align: top
}

* {
    border: 0;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-smooth: always;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    word-wrap: break-word
}

.block,
footer,
header,
main,
nav,
section {
    display: block
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a>img,
img {
    max-width: 100%;
    vertical-align: bottom
}

em,
i {
    font-size: inherit;
    font-style: italic
}

cite,
u {
    font-style: normal
}

b,
strong {
    font-size: inherit;
    font-weight: 700
}

u {
    border-bottom-width: .09rem
}

a,
a:active,
a:hover,
a:link,
a:visited {
    cursor: pointer
}

br {
    content: ' ';
    height: 0
}

hr {
    overflow: hidden;
    height: .146rem;
    margin: 4.236rem 0;
    background-color: #000
}

ol,
ul {
    list-style: none
}

button,
form,
input[type=date],
input[type=email],
input[type=file],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=text],
label,
pre,
select,
textarea {
    appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    display: block;
    height: auto;
    vertical-align: top;
    width: 100%
}

.inline-block,
button,
input+button,
input[type=date]+button,
input[type=email]+button,
input[type=file]+button,
input[type=number]+button,
input[type=password]+button,
input[type=search]+button,
input[type=text]+button,
select+button,
textarea+button {
    display: inline-block
}

select::-ms-expand {
    display: none
}

textarea {
    resize: none;
    min-height: 4.236rem
}

html {
    text-size-adjust: none;
    -o-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    width: 100%;
    font-size: 2.618vw
}

@media (max-width:2618px) {
    html {
        font-size: 1vw
    }
}

@media (max-width:1000px) {
    html {
        font-size: 1.618vw
    }
}

@media (max-width:618px) {
    html {
        font-size: 2.618vw
    }
}

body {
    padding: 11.09vw 29.034vw 11.09vw 11.09vw;
    width: 100vw;
    background-color: #fff;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-weight: 300
}

.auto,
button {
    width: auto
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
summary {
    margin-bottom: 1.618rem
}

small {
    margin-bottom: 1rem
}

p>small {
    margin-bottom: 0
}

h1 {
    font-size: 4.236rem;
    line-height: 1.236
}

h2 {
    font-size: 2.618rem
}

h3 {
    font-size: 2.146rem
}

h4,
h5,
h6,
p {
    font-size: 1.618rem;
    line-height: 1.618
}

small,
sub,
sup {
    font-size: 1rem;
    line-height: 2
}

h1 sub,
h1 sup,
h2 sub,
h2 sup,
h3 sub,
h3 sup,
p>small {
    font-size: 1.382rem;
    line-height: 1.618
}

h1+hr,
h2+hr,
h3+hr,
h4+hr,
h5+hr,
h6+hr,
p+hr,
small+hr {
    margin-bottom: 6.854rem
}

hr:first-child {
    margin-top: 6.854rem
}

button,
input[type=date],
input[type=email],
input[type=file],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=text],
label,
select,
textarea {
    border-width: .146rem;
    font-size: 1.618rem;
    line-height: 1.618;
    margin-bottom: 1.618rem;
    padding: 1rem
}

input[type=range],
label {
    border: 0;
    padding: 1rem 0
}

pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    border-width: .146rem;
    font-size: 1.382rem;
    line-height: 1.618;
    max-height: 29.034rem;
    padding: 1rem
}

form,
pre {
    margin-bottom: 2.618rem
}

label {
    vertical-align: middle;
    margin-bottom: 0
}

button+button,
input+button,
select+button,
textarea+button {
    margin-left: .618rem
}

button,
input[type=date],
input[type=email],
input[type=file],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=text],
label,
pre,
select,
textarea {
    border-style: solid;
    font-weight: 300
}

select {
    background-position: calc(100% - 1.6rem) 50%, calc(100% - 1rem) 50%;
    background-size: .6rem .6rem, .6rem .6rem;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, #000 50%), linear-gradient(135deg, #000 50%, transparent 50%)
}

button {
    cursor: pointer;
    font-weight: 700
}

a:focus>u,
a:hover>u {
    border-bottom-style: solid
}

blockquote {
    border-left: .146rem;
    padding-left: 1.618rem
}

.inline {
    display: inline
}

.hidden {
    display: none
}

.center {
    margin-left: auto;
    margin-right: auto
}

.full {
    width: 100%
}

.lesser {
    width: 38.2%
}

.golden {
    width: 61.8%
}

.golden+.lesser {
    width: 33.964%
}

.lesser+.golden {
    width: 57.564%
}

h1>u,
h2>u,
h3>u,
h4>u,
h5>u,
h6>u,
p>u,
small>u {
    border-bottom-width: .146rem;
    border-bottom-style: solid
}

::selection {
    background: #000;
    color: #fff
}

::-o-selection {
    background: #000;
    color: #fff
}

::-ms-selection {
    background: #000;
    color: #fff
}

::-moz-selection {
    background: #000;
    color: #fff
}

::-webkit-selection {
    background: #000;
    color: #fff
}

.inverted::selection {
    background: #fff;
    color: #000
}

.inverted::-o-selection {
    background: #fff;
    color: #000
}

.inverted::-ms-selection {
    background: #fff;
    color: #000
}

.inverted::-moz-selection {
    background: #fff;
    color: #000
}

.inverted::-webkit-selection {
    background: #fff;
    color: #000
}

.inverted ::selection {
    background: #fff;
    color: #000
}

.inverted ::-o-selection {
    background: #fff;
    color: #000
}

.inverted ::-ms-selection {
    background: #fff;
    color: #000
}

.inverted ::-moz-selection {
    background: #fff;
    color: #000
}

.inverted ::-webkit-selection {
    background: #fff;
    color: #000
}

.uninverted::selection {
    background: #000;
    color: #fff
}

.uninverted::-o-selection {
    background: #000;
    color: #fff
}

.uninverted::-ms-selection {
    background: #000;
    color: #fff
}

.uninverted::-moz-selection {
    background: #000;
    color: #fff
}

.uninverted::-webkit-selection {
    background: #000;
    color: #fff
}

.uninverted ::selection {
    background: #000;
    color: #fff
}

.uninverted ::-o-selection {
    background: #000;
    color: #fff
}

.uninverted ::-ms-selection {
    background: #000;
    color: #fff
}

.uninverted ::-moz-selection {
    background: #000;
    color: #fff
}

.uninverted ::-webkit-selection {
    background: #000;
    color: #fff
}

.uninverted a,
.uninverted a:link,
.uninverted h1,
.uninverted h2,
.uninverted h3,
.uninverted h4,
.uninverted h5,
.uninverted h6,
.uninverted p,
.uninverted small,
a,
a.uninverted,
a.uninverted:link,
a:link,
h1,
h1.uninverted,
h2,
h2.uninverted,
h3,
h3.uninverted,
h4,
h4.uninverted,
h5,
h5.uninverted,
h6,
h6.uninverted,
p,
p.uninverted,
small,
small.uninverted {
    color: #000
}

.inverted a,
.inverted a:link,
.inverted h1,
.inverted h2,
.inverted h3,
.inverted h4,
.inverted h5,
.inverted h6,
.inverted p,
.inverted small,
a.inverted,
a.inverted:link,
h1.inverted,
h2.inverted,
h3.inverted,
h4.inverted,
h5.inverted,
h6.inverted,
p.inverted,
small.inverted {
    color: #fff
}

button,
input[type=date],
input[type=email],
input[type=file],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=text],
label,
pre,
select,
textarea {
    border-radius: .382rem;
    background-color: transparent;
    border-color: #000;
    color: #000
}

.inverted button,
.inverted input[type=date],
.inverted input[type=email],
.inverted input[type=file],
.inverted input[type=number],
.inverted input[type=password],
.inverted input[type=range],
.inverted input[type=search],
.inverted input[type=text],
.inverted label,
.inverted pre,
.inverted select,
.inverted textarea,
button.inverted,
input[type=date].inverted,
input[type=email].inverted,
input[type=file].inverted,
input[type=number].inverted,
input[type=password].inverted,
input[type=range].inverted,
input[type=search].inverted,
input[type=text].inverted,
label.inverted,
pre.inverted,
select.inverted,
textarea.inverted {
    border-color: #fff;
    color: #fff
}

.uninverted button,
.uninverted input[type=date],
.uninverted input[type=email],
.uninverted input[type=file],
.uninverted input[type=number],
.uninverted input[type=password],
.uninverted input[type=range],
.uninverted input[type=search],
.uninverted input[type=text],
.uninverted label,
.uninverted pre,
.uninverted select,
.uninverted textarea,
button.uninverted,
input[type=date].uninverted,
input[type=email].uninverted,
input[type=file].uninverted,
input[type=number].uninverted,
input[type=password].uninverted,
input[type=range].uninverted,
input[type=search].uninverted,
input[type=text].uninverted,
label.uninverted,
pre.uninverted,
select.uninverted,
textarea.uninverted {
    border-color: #000;
    color: #000
}

.inverted select,
select.inverted {
    background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%)
}

.uninverted select,
select.uninverted {
    background-image: linear-gradient(45deg, transparent 50%, #000 50%), linear-gradient(135deg, #000 50%, transparent 50%)
}

input[type=range] {
    cursor: pointer;
    background: linear-gradient(transparent, transparent 44.455%, #000 44.455%, #000 55.545%, transparent 55.545%)
}

.inverted input[type=range],
input[type=range].inverted {
    background: linear-gradient(transparent, transparent 44.455%, #fff 44.455%, #fff 55.545%, transparent 55.545%)
}

.uninverted input[type=range],
input[type=range].uninverted {
    background: linear-gradient(transparent, transparent 44.455%, #000 44.455%, #000 55.545%, transparent 55.545%)
}

input[type=date].readonly,
input[type=email].readonly,
input[type=file].readonly,
input[type=number].readonly,
input[type=password].readonly,
input[type=range].readonly,
input[type=search].readonly,
input[type=text].readonly,
select.readonly,
textarea.readonly {
    cursor: text !important;
    opacity: .7 !important;
    transform: none;
    -o-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none
}

input[type=date].disabled,
input[type=date]:disabled,
input[type=email].disabled,
input[type=email]:disabled,
input[type=file].disabled,
input[type=file]:disabled,
input[type=number].disabled,
input[type=number]:disabled,
input[type=password].disabled,
input[type=password]:disabled,
input[type=range].disabled,
input[type=range]:disabled,
input[type=search].disabled,
input[type=search]:disabled,
input[type=text].disabled,
input[type=text]:disabled,
select.disabled,
select:disabled,
textarea.disabled,
textarea:disabled {
    cursor: not-allowed !important;
    opacity: .3 !important;
    transform: none;
    -o-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none
}

button.disabled,
button:disabled {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #000 !important;
    cursor: not-allowed !important;
    opacity: .3 !important;
    text-decoration: underline !important
}

.inverted button.disabled,
.inverted button:disabled,
button.inverted.disabled,
button.inverted:disabled {
    color: #fff !important
}

.uninverted button.disabled,
.uninverted button:disabled,
button.uninverted.disabled,
button.uninverted:disabled {
    color: #000 !important
}

:-ms-input-placeholder {
    color: #000
}

:-moz-placeholder {
    color: #000
}

::-moz-placeholder {
    color: #000
}

::-webkit-input-placeholder {
    color: #000
}

.inverted :-ms-input-placeholder {
    color: #fff
}

.inverted :-moz-placeholder {
    color: #fff
}

.inverted ::-moz-placeholder {
    color: #fff
}

.inverted ::-webkit-input-placeholder {
    color: #fff
}

.inverted:-ms-input-placeholder {
    color: #fff
}

.inverted:-moz-placeholder {
    color: #fff
}

.inverted::-moz-placeholder {
    color: #fff
}

.inverted::-webkit-input-placeholder {
    color: #fff
}

.uninverted :-ms-input-placeholder {
    color: #000
}

.uninverted :-moz-placeholder {
    color: #000
}

.uninverted ::-moz-placeholder {
    color: #000
}

.uninverted ::-webkit-input-placeholder {
    color: #000
}

.uninverted:-ms-input-placeholder {
    color: #000
}

.uninverted:-moz-placeholder {
    color: #000
}

.uninverted::-moz-placeholder {
    color: #000
}

.uninverted::-webkit-input-placeholder {
    color: #000
}

blockquote {
    border-left-color: #000;
    border-left-style: solid
}

.inverted blockquote,
blockquote.inverted {
    border-left-color: #fff
}

.uninverted blockquote,
blockquote.uninverted {
    border-left-color: #000
}

.inverted hr,
hr.inverted {
    background-color: #fff
}

.uninverted hr,
hr.uninverted {
    background-color: #000
}

u {
    border-bottom-style: dashed;
    border-bottom-color: #000
}

.inverted u,
u.inverted {
    border-bottom-color: #fff
}

.uninverted u,
u.uninverted {
    border-bottom-color: #000
}

.uninverted a:active,
.uninverted a:hover,
.uninverted a:visited,
.uninverted details,
.uninverted summary,
a.uninverted:active,
a.uninverted:hover,
a.uninverted:visited,
a:active,
a:hover,
a:visited,
details,
details.uninverted,
summary,
summary.uninverted {
    color: #000
}

.inverted a:active,
.inverted a:hover,
.inverted a:visited,
.inverted details,
.inverted summary,
a.inverted:active,
a.inverted:hover,
a.inverted:visited,
details.inverted,
summary.inverted {
    color: #fff
}

.uninverted :focus,
.uninverted:focus,
:focus {
    outline-color: #000
}

.inverted :focus,
.inverted:focus {
    outline-color: #fff
}

button,
input,
select,
textarea {
    outline: 0;
    transition: transform 160ms ease-in-out, box-shadow 160ms ease-in-out;
    -o-transition: transform 160ms ease-in-out, box-shadow 160ms ease-in-out;
    -ms-transition: transform 160ms ease-in-out, box-shadow 160ms ease-in-out;
    -moz-transition: transform 160ms ease-in-out, box-shadow 160ms ease-in-out;
    -webkit-transition: transform 160ms ease-in-out, box-shadow 160ms ease-in-out
}

button:focus,
button:hover,
input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
    box-shadow: 0 0 1.618rem #9ecaed;
    outline: 0;
    transform: scale(1.034);
    -o-transform: scale(1.034);
    -ms-transform: scale(1.034);
    -moz-transform: scale(1.034);
    -webkit-transform: scale(1.034)
}

.inverted button:focus,
.inverted button:hover,
.inverted input:focus,
.inverted input:hover,
.inverted select:focus,
.inverted select:hover,
.inverted textarea:focus,
.inverted textarea:hover,
.uninverted button:focus,
.uninverted button:hover,
.uninverted input:focus,
.uninverted input:hover,
.uninverted select:focus,
.uninverted select:hover,
.uninverted textarea:focus,
.uninverted textarea:hover,
button.inverted:focus,
button.inverted:hover,
button.uninverted:focus,
button.uninverted:hover,
input.inverted:focus,
input.inverted:hover,
input.uninverted:focus,
input.uninverted:hover,
select.inverted:focus,
select.inverted:hover,
select.uninverted:focus,
select.uninverted:hover,
textarea.inverted:focus,
textarea.inverted:hover,
textarea.uninverted:focus,
textarea.uninverted:hover {
    box-shadow: 0 0 1.618rem #9ecaed
}

button::-moz-focus-inner,
input::-moz-focus-inner,
select::-moz-focus-inner,
textarea::-moz-focus-inner {
    border: 0;
    padding: 0
}