@import './jsen-mod-interface-cls-theme-ext-basic-css.css';

:last-child { margin-bottom: 0; }

body { padding: 0 !important; background-color: #000000; }
nav { padding: 1.618rem;  text-align: right; display: flex; justify-content: space-between; align-items: center; }
nav > * { border-color: transparent !important; }
body > * > main { padding: 6.854rem 11.09vw; background-color: #000000; }
body > *:nth-child(2n+1) > main { background-color: #191919; }
h4 + small { font-size: 1.236rem; }
img { border-radius: 2.618rem; }
h3 img { display: inline; width: 3.618rem; vertical-align: middle;}
small img { display: inline; width: 1rem; vertical-align: middle; border-radius: 0; }

.pad { padding: 1.618rem !important; }
.mgn-xl { margin-bottom: 4.236rem !important; }
.mgn-l { margin-bottom: 2.618rem !important; }
.mgn { margin-bottom: 1.618rem !important; }
.mgn-t { margin-bottom: 0.382rem !important; }

.h_title{
  text-align: center;
  font-size: 36px;
  padding: 30px;
}

.circle { border-radius: 50%; }

.halves {
  vertical-align: top;
  width: 50%;
}

.thirds {
  vertical-align: top;
  width: 33.33%;
}

.quarters {
  vertical-align: top;
  width: 25%;
}


@media (max-width: 1000px) {
  .full-tablet { width: 100% !important; margin-left: 0 !important; margin-right: 0 !important; }
  .half-tablet { width: 50% !important; margin-left: 0 !important; margin-right: 0 !important; }
}

@media (max-width: 618px) {
  .full-mobile { width: 100% !important; margin-left: 0 !important; margin-right: 0 !important; }
  .no-mobile { display: none; }
  .header_cl{ margin-top: 50px;}
}

.viewport { height: 100vh; padding-top: 23.6vh; }

#logo {  width: 11.854rem; }

#callout > main { padding-top: 4.236rem; padding-bottom: 4.236rem; }
#subfooter > main { padding-top: 2.618rem; padding-bottom: 2.618rem; }
#subfooter > main small { font-size: 1.146rem; }


.menu{
  padding: 10px;
  margin-top: 30px;
  margin-right: 10px;
}